*{
  list-style: none;
  text-decoration: none;
  margin: 0;
  padding: 0;
  
}
body {
  background-color: bisque;
}
  .container{
    width: 100%;
    max-width: 1200px ;
    margin: 0 auto;
  }
.header{
  padding: 10px ;
  background-color: rgb(143, 139, 134);
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 
 
 .list{
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo{
  width: 40px;
  border-radius: 10px;
}

.item{
  color: black;
  border-bottom: 1px solid transparent;
  padding: 5px 10px;
  border-radius: 4px;
  transition: 0.4s;
  
}
.item:active{
  transform: scale(0.8);

}
.active{
  background-color: aliceblue;
  transition: 0.4s;
}